@charset "utf-8";


@media only screen and (max-width: 1598px) {
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1000px) {
}


/*** 960 태블릿 ************************************************************************************/
@media only screen and (max-width: 959px) {
	div#gnb_web { display:none; }
	div#content_area {  padding-left:10px;  }


	/* 모바일 일때 whkcmr 상단 메뉴 노출 */
	div.gnb_mobile {display:block; position:absolute; top:35px; left:10px; width:50px; height:30px; text-align:left;  }

	#bbs_list_table { width:100%; font-size:14px; }
	#bbs_list_table thead th {display:none;}
	#bbs_list_table tbody th { display:none; }
	#bbs_list_table tbody td { position:relative; display: block;  font-size:14px; color:#888; /*height:20px;*/ text-align:left; padding:0px 10px;}
	#bbs_list_table tbody td.process_ing { display: block; color:#007aff; padding-top:10px;}
	#bbs_list_table tbody td.process_end { display: block; color:#888;  padding-top:10px;}

	#bbs_list_table tbody td.subject { color:#2c2c2c;  margin-top:10px; }
	#bbs_list_table tbody td.subject span { display:block; margin-bottom:5px;}
	#bbs_list_table tbody td.ev_date { text-align:left; color:#888; margin-top:3px;}
	#bbs_list_table tbody td.report { text-align:right; padding-bottom:10px;  border-bottom:1px solid #eee; }
	#bbs_list_table tbody td.notice_hidden { display:none; }
	#bbs_list_table tbody td.evlast { padding-bottom: 10px;  border-bottom: 1px solid #eee; }
	#bbs_list_table tbody td.qa_first { padding:10px 20px 0 10px;}

	table.colsize tbody tr td p.mo_loc { position:absolute; bottom:10px; right: 10px;  }
	table.colsize_pr tbody tr td p.mo_loc { position:absolute; bottom:10px; right: 10px;  }
	table.colsize_notice tbody tr td p.mo_loc { position:absolute; bottom:10px; right: 10px;  }
	table.colsize_qa tbody tr td p.mo_loc { position:absolute; bottom:10px; right: 10px;  }

	p.mo_gotop { position:absolute; bottom:80px; right:-5px; display:inline-block; }


	div.dash_area_01 li p.number {  font-size:32px;}
	#bbs_list_table tfoot { border-top:0px solid #eee; }



	div#footer {  clear: both; width: 100%;  margin: 50px auto;  text-align: left;  padding-left: 10px; color: #888; }

}


/*** 이 이하는 모바일 화면으로 전환 되는 시점 ************************************************************************************/
@media only screen and (max-width: 767px) {


		/* 상단 헤더 조정 */
	div#header {  height:65px; }
	h1 { height:65px;  line-height:65px;  font-size:16px; }
	/*
	div.log_info {display:none; }
	div.log_info_mobile { display:block; }
	*/
	div.log_info {  top:22px;  }
	div#go_loginfo_1 { position:absolute; top:80px; right: 20px; }
	span.log_text { display:none; }


	div.gnb_mobile {display:block; position:absolute; top:22px; left:10px; width:50px; height:30px; text-align:left;  }

	/* 로그인 박스 */
	div#login_title { margin:0 auto 20px; padding-top:40px}
	div#login_area  > ul > li:nth-child(1) { font-size:14px; }
	div#login_area > ul > li:nth-child(1) > p > strong { font-size: 20px; }
	div#login_area  > ul > li { float:left; width:90%; padding:0 5% 0px;}
	div#login_area  > ul > li:nth-child(1) > p {padding-top:5%; padding-left:0;}
	div#login_area  > ul > li:nth-child(2) { padding-top:0; }
	div#login_area {	width:90%;  margin:0 5% 0 5%; background:#fff;  }
	div#login_area  > ul > li > input { width:96%; padding-left:4%; }



	div.dash_counter_area li  { width:100%; margin-right:0%; margin-bottom:20px;  }
	div.dash_counter_area li:nth-child(4) { }
	/*
	div.dash_counter_area li:nth-child(1), div.dash_counter_area li:nth-child(4)   { width:49%; margin-right:1%;  }
	div.dash_counter_area li:nth-child(2), div.dash_counter_area li:nth-child(5)  { width:49%; margin-left:1%; margin-right:0; }
	div.dash_counter_area li:nth-child(1), div.dash_counter_area li:nth-child(2) { margin-bottom: 2%; }
	*/

	div.dash_counter_area li p.number { font-size:32px;}
	div.dash_counter_area li.mobile { width:100%; margin:0; }



	div.dash_counter_area li.web { display:none;}
	div.dash_counter_area li.mobile {display:block;}


	div.rev_counter_area li {position:relative;  float:none; width:100%; margin-right:0%; margin-bottom:0%; margin-bottom:20px}





	div.guide_area li { width:100%; }


	/* 이벤트 등록/수정 */
	div.half_box > ul > li.left { width:100%; }
	div.half_box > ul > li.right { display:none;  }

		div.btn_floatting_area { display:block; }




	span.search_date { display:none;  }
	span.mo_date {display:inline-block; }


	#bbs_list_table tfoot ul.web { display:none; }
	#bbs_list_table tfoot { border-top:0px solid #eee;}
	#bbs_list_table tfoot ul.mo{ display:block; }

	ul.borad_paging { float:none; width:210px; display:table;  margin:0 auto; }
	ul.borad_paging li.paging_info {  text-align:center; padding:0px 20px; }

	p.more_green_web { display:none; }
	p.more_green_mo { display:inline-block; }


	div.date_web {display:none; }
	div.date_mo {display:block; }
	p.guide_text_web { display:none;}

	div.time_web {display:none; }
	div.time_mo {display:block; }







}


/****************************************************************************************/
@media only screen and (max-width: 641px) {

	div.dash_cate_type {position:absolute; width:80px; }
	div.dash_cate_type ul li a { font-size:12px; }


	div.dash_area_01 li { width:100%;     margin-right: 0%; margin-bottom:20px}
	div.dash_area_01 li:last-child { margin-bottom:0}
	div.dash_event_area li { width:100%; margin-bottom:15px; }
	div.dash_event_area li:nth-child(3) {margin-bottom:0;  }

	div.dash_review_area li{ width:100%;margin-bottom:20px; }
	div.dash_review_area li:nth-child(4) {margin-bottom:0;  }
	div.dash_review_area li.web { display:none;}
	div.dash_review_area li.mobile {display:block;}



	p.sform > input { margin-left:10px; width:200px;}
	div.ev_dash_subject > p > span { position:relative; display:block; margin:7px 0; width:auto; font-weight:100;}

	ul.tap_menu {padding-top:0;}
	ul.tap_menu li a { padding: 15px 20px; }
	div.gab_box > div > label, div.gab_box > div.design > div.title, div.gab_box > div.design_textarea > div.title { top:-35px; }
	div.gab_box > div.qa_half > label.qa { top:15px;}

	div.gab_box > div.evimgbox {margin-top:60px; position:relative; width:92%; padding:0 4%; height:40px; border:none; border-bottom:1px solid #eee; color:#bbb;  }
	div.gab_box > div.evimgbox > div.title { top:-45px; }
	div.gab_box > div.design_textarea > textarea { width:100%; padding-left:0; }

	div.gab_box_modify > div.photo > p { width:100%;  padding-top:10px; margin-bottom:60px;}
	div.gab_box_modify > div.photo > p.id{ width:100%;  padding-top:10px; margin-bottom:5px;}
	div.gab_box_modify > div.photo > ul > li { width:100%; float:none; }
	div.gab_box_modify > div.photo > ul > li.title {display:none; }

	div.mofi_area > ul > li:nth-child(odd), div.mofi_area > ul > li:nth-child(even) { float:none; width:100%; margin:0; }

	div.mofi_area > ul > li >  label { top:10px; }


	div.gab_box > div > input.paddstyle { width:94%; padding-right:6%; }

	p.prtext_web { display:none; }
	p.prtext2_web { display:none;}
	p.prtext_mo { display:block; }
	p.prtext2_mo { display:block;}

	p.more_photo_web { display:none; }
	p.more_photo_mo { display:block; }

	div#footer { clear:both; width:94%; max-width:1180px; margin:0 auto; padding:30px 0 50px; text-align:left; }

	div.guide_area li:nth-child(1), div.guide_area_wide  li.guide_wid {display:none}
	div.guide_area li {width:100%}

}


/** 480 스마트폰 가로 *******************************************************************/
@media only screen and (max-width: 480px) {

	div.w_half { width:100%; display:block;  }
	div.whleft { margin-right:0;}
	div.whright { margin-left:0;}

	div.gab_box > div.photo > ul > li { float:none; width:100%; }
	div.gab_box > div.photo > ul > li:first-child { padding-bottom: 10px;}
	div.gab_box > div.photo > ul > li.modi_height {height:20px; }

	div.width_half50 li:first-child, div.width_half50 li:last-child {float:none;  width:100%; margin:0;margin-top:20px;}

	div.qa_update { text-align:left; font-size:12px; color:#aaa; height:30px; line-height:30px; padding:0 0 0 65px;}
	div.qa_update span { display:none;}
	div.bbs_qa_head_reply_date {left:0; text-align:left;  padding:0 0 0 65px; }

	div.gab_box > div.photo > ul > li.photobox { width: 100%; max-width:250px;  padding-left: 0%; float:right}
	div.gab_box > div.photo > ul > li.photobox { width: 100%; max-width:250px;  padding-left: 0%; float:right}

	dl.new_sw { margin:20px 0px 20px 0; }
	dl.new_sw dt { width:100%; }
	dl.new_sw dd { width:100%;  text-align:left; }
	/* div.photo_text_web { display:none; } */
	div.photo_text_web p.tit {display:none; }
	div.photo_text_mo { display:block; margin:0 0 15px 0; }

	/*.motopmargin { padding-top:30px;}*/

		div.mofi_area > ul >  li.shopaddress input {width:90%; background: url('/src/owner/images/board/btn_search_focus.png') no-repeat right center;  padding-right:10%;   }



		p.sform > input { margin-left:10px; width:150px;}

		div.gab_box > div > input.paddstyle { width:92%; padding-right:8%; }

		div.btn_regis_area p a,
		div.btn_regis_area p.on a,
		div.btn_regis_area p.cancle a {width:130px}

		div.gab_box > div.photo > ul > li.photobox.regis {width: 100%; max-width: inherit; padding-left: 0%; float: none;}
		div.gab_box > div.photo > ul > li.photobox.regis:after {content:".";display:block;height:0;clear:both;visibility:hidden}
		div.gab_box > div.photo > ul > li.photobox.regis div.photo_in {float:right;max-width:215px}

}


/** 320픽셀 세로 ************************************************************************/
@media only screen and (max-width: 320px) {
	div.guide_area li:nth-child(1){ display:none;}
	div.guide_area_wide  li.guide_wid { display:none;}

	div.btn_regis_area p a,
	div.btn_regis_area p.on a,
	div.btn_regis_area p.cancle a {width:120px}

}
